services:
  backend_service:
    build: .
    container_name: backend_api
    env_file:
      - .env
    ports:
      - "8001:8000"
    volumes:
      - .:/app
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"